html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0 auto;
}
:root {
  --tan: #f2d8a7;
  --peach: #f2c3a7;
  --taupe: #775c53;
  --blue: #405173;
  --white: #f0f8ffe6;
  --dkblue: #012340;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--peach);
  color: var(--dkblue);
  text-align: center;
  font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dkblue);
}
.nav-bar img {
  width: 4rem;
  margin: 0;
}
.nav-bar ul {
  display: inline-flex;
  color: var(--white);
  list-style-type: none;
  margin: 1rem;
}
.nav-bar ul li {
  padding: 0 0.5rem;
}
.nav-bar ul li a {
  color: var(--white);
  font-size: 0.7rem;
}
.nav-bar ul li a:hover {
  font-size: 0.8rem;
  color: var(--tan);
}
.welcome {
  padding: 2rem;
}
.welcome p {
  font-size: 1rem;
  padding: 1rem;
}
#title {
  margin: 1rem auto;
  font-weight: bold;
}
h1 {
  font-size: 3rem;
}
#intro {
  display: block;
}
.my-photo img {
  border-radius: 50%;
  max-width: 15rem;
  height: auto;
  border: 2px solid var(--taupe);
  padding: 0.5rem;
  margin: 1rem;
}
h3 {
  font-size: 2rem;
  padding: 1.5rem;
}
h3 span {
  color: var(--blue);
}
#about-me,
#work,
#contact,
#resume {
  margin: 1.5rem;
}
.content {
  font-size: 1rem;
  line-height: 2;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  width: 15rem;
  background-color: var(--white);
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 2rem rgba(162, 109, 78, 0.526);
}
.container img {
  padding: 1rem;
  width: 15rem;
}
.container div {
  padding: 1.5rem;
}
.container div a {
  font-size: 1.15rem;
  color: var(--taupe);
}
.container div a:hover {
  font-size: 1.25rem;
  color: var(--dkblue);
}
#contact ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
#resume .content {
  display: inline-flex;
  align-items: baseline;
}
#resume .content p {
  padding: 1rem;
}
footer {
  background-color: var(--taupe);
  padding: 1rem;
  color: var(--white);
  text-align: left;
}

@media screen and (min-width: 414px) {
  .nav-bar ul li a {
    font-size: 0.8rem;
  }
  .nav-bar ul li a:hover {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar ul li {
    padding: 0 1rem;
  }
  .nav-bar ul li a {
    font-size: 1rem;
  }
  .nav-bar ul li a:hover {
    font-size: 1.15rem;
  }
  .nav-bar img {
    width: 5rem;
  }
  .welcome p {
    font-size: 1.25rem;
  }
  .content {
    font-size: 1.25rem;
    line-height: 2;
  }
  #about-me,
  #work,
  #contact,
  #resume {
    margin: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  #intro {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
  }
  .welcome p {
    padding: 1rem 0;
  }
  .welcome {
    text-align: start;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar img {
    width: 9rem;
    margin: auto 1rem;
  }
  .nav-bar ul li a {
    font-size: 1.5rem;
  }
  .nav-bar ul li a:hover {
    font-size: 1.75rem;
  }
  #intro {
    padding-top: 10rem;
  }
  .welcome p {
    font-size: 1.75rem;
  }
  .content {
    font-size: 1.5rem;
    line-height: 2;
  }
  h1 {
    font-size: 5rem;
    margin-top: 1.75rem;
  }
  #about-me,
  #work,
  #contact,
  #resume {
    margin: 10rem;
  }
}
